body{
    margin:0;
    width: 800px;
    margin: 0 auto;
    font-family: Inter, sans-serif;
}
.nav{
    padding: 10px;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.toggledark{
    cursor: pointer;
    margin: 0 5px;;
    width: 20px;
    height: 10px;
    background-color: #282D35;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
}

.togglelight{
    cursor: pointer;
    margin: 0 5px;;
    width: 20px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #282D35;
    border-radius: 10px;
    padding: 1px;
}

.circledark{
    width: 10px;
    height: 10px;
    margin: 0 0 0 auto;
    background-color: #ffffff;
    border-radius: 50%;
}

.circlelight{
    width: 10px;
    height: 10px;
    margin: 0 auto 0 0;
    background-color: #282D35;
    border-radius: 50%;
}

.nav>h3{
    padding-left: 10px;
    color: #61DAFB;
    margin-right: auto;
    font-weight: 700;
    font-size: 22px;
}

.nav-items{
    list-style: none;
    display: flex;
}

.nav-items > li{
    padding: 10px;
}

.nav-logo{
    width: 40px;
}

.main{
    background-image: url("react-logo.png");
    background-position-x: right;
    background-position-y: 60%;
    background-size: 200px;
    background-repeat: no-repeat;
    
    padding:57px 27px;
}

.main>h1{
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05cm;
}

.main>ol>li{
    line-height: 19px;
    padding-block-end: 10px
}

.main>ul>li::marker{
    font-size: 1.4rem;
    color: #61DAFB;
}

.main>img{
    width: 400px;
    background-position-x: right;
}

.foot{
    background: gray;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.dark{
    background-color: #282D35;
    color: #ffffff;
}
