body{
    background-color: #222222;
}

.main{
    overflow: scroll;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    padding: 40px 80px;
    color: #293264;
    background: linear-gradient(to right, #DEEBF8,#F5F7FB,#DEEBF8);
    border: 2px solid #182a63;
}

.home{
    height: 100%;
    margin: 0 auto;
    color: #293264;

    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home>h1{
    margin: 0;
    font-family: "Karla",sans-serif;
    font-weight: 700;
}

.home>p{
    font-family: "inter",sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.home>button{
    cursor: pointer;
    border: none;
    font-family: "inter",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F5F7FB;
    background-color: #293264;

    border-radius: 15px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

.underline{
    margin:30px 0;
}

.question{
    margin: 10px 0;
    font-weight: 700;
    font-family: "karla",sans-serif;
    font-size: 16px;
}

.option{
    width: 100px;
    margin: 10px;
    cursor: pointer;
    display: flex;

    font-family: "inter",sans-serif;
    font-size: 12px;
    background-color: #F5F7FB;
    padding: 4px 15px;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    font-weight: 500;
}

.check{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-family: "inter",sans-serif;
    font-weight: 700;
    color: #f5f7fb;
    background-color: #4D5B9E;
    display: block;
    margin: 20px auto;
}

.end{
    display: flex;
    font-family: "inter",sans-serif;
    font-weight: 700;
    color:#293264;
    text-align: center;
}

.playagain{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-family: "inter",sans-serif;
    font-weight: 700;
    color: #f5f7fb;
    background-color: #4D5B9E;
    margin-left: auto;

}

.bug{
    font-size: 5px;
}